<h1 align="center"> Project Setup </h1>

#### Install all requirements for the project

In [1]:
print('--- Upgrading pip ---')
!pip install --upgrade pip
print('--- Cheking pip version ---')
!pip --version

--- Upgrading pip ---
Requirement already satisfied: pip in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (21.2.4)
--- Cheking pip version ---
pip 21.2.4 from /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages/pip (python 3.8)

#### Importing Dependencies

In [2]:
import os
import sys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans

#### Importing Datasets

In [3]:
# Display all columns in the DataFrame using pandas settings
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_excel('data/WtoData_import_by_countries.xlsx')

<br><br>

<h1 align="center"> Summary</h1>

### Objective

What is the objective or goal that you are trying to accomplish? What is the decision that you must make?

<hr>

### Hypothesis: Research Question?

What is the question that you would like to answer in order to make a decision.

<hr>

### Data Source

Explain where did you get the data. How can you trust this data? Who produced this data and what were their motiviations?

<br><br>

<h1 align="center"> Data Cleaning </h1>

#### Data Overview

In [5]:
# Displaying the dataframe
df.head(4)

,Indicator,Merchandise imports by product group – annual (Million US dollar),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Reporting Economy,Product/Sector,Partner Economy,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,World,SI3_AGG - TO - Total merchandise,World,6647491.0,6406946.0,6656539.0,7771071.0,9473361.0,10785263.0,12368788.0,14268847.0,16496984.0,12714737.0,15438092.0,18438364.0,18657296.0,18966119.0,19060809.0,16733507.0,16211194.0,17985896.0,19836342.0,19284167.0,17812107.0
3,World,SI3_AGG - AG - Agricultural products,World,593983.0,592783.0,629944.0,729839.0,842060.0,898926.0,981757.0,1184138.0,1400442.0,1216279.0,1391529.0,1701893.0,1681611.0,1756648.0,1798003.0,1594510.0,1599989.0,1759978.0,1851346.0,1823105.0,NaN

In [6]:
print('------------------------------ Shape ------------------------------')
print('The dataset has',df.shape[0], 'Rows and', df.shape[1],'columns')
print('------------------------------ Columns ------------------------------')
display(df.columns)
print('------------------------------ Data types ------------------------------')
display(df.dtypes)
print('------------------------------ Info ------------------------------')
display(df.info())
print('------------------------------ Describe ------------------------------')
display(df.describe())

------------------------------ Shape ------------------------------
The dataset has 3580 Rows and 24 columns
------------------------------ Columns ------------------------------

Index(['Indicator',
       '  Merchandise imports by product group – annual (Million US dollar)',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

------------------------------ Data types ------------------------------

Indicator                                                               object
  Merchandise imports by product group – annual (Million US dollar)     object
Unnamed: 2                                                              object
Unnamed: 3                                                             float64
Unnamed: 4                                                             float64
Unnamed: 5                                                             float64
Unnamed: 6                                                             float64
Unnamed: 7                                                             float64
Unnamed: 8                                                             float64
Unnamed: 9                                                             float64
Unnamed: 10                                                            float64
Unnamed: 11                                                            float64
Unnamed: 12                                                            float64
Unnamed: 13                                                            float64
Unnamed: 14                                                            float64
Unnamed: 15                                                            float64
Unnamed: 16                                                            float64
Unnamed: 17                                                            float64
Unnamed: 18                                                            float64
Unnamed: 19                                                            float64
Unnamed: 20                                                            float64
Unnamed: 21                                                            float64
Unnamed: 22                                                            float64
Unnamed: 23                                                            float64
dtype: object

------------------------------ Info ------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3580 entries, 0 to 3579
Data columns (total 24 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Indicator                                                            3579 non-null   object
 1     Merchandise imports by product group – annual (Million US dollar)  3579 non-null   object
 2   Unnamed: 2                                                           3579 non-null   object
 3   Unnamed: 3                                                           3021 non-null   float64
 4   Unnamed: 4                                                           3072 non-null   float64
 5   Unnamed: 5                                                           3107 non-null   float64
 6   Unnamed: 6                                                           3182 non-null   float64
 7   Unnamed: 7                                                           3202 non-null   float64
 8   Unnamed: 8                                                           3209 non-null   float64
 9   Unnamed: 9                                                           3187 non-null   float64
 10  Unnamed: 10                                                          3226 non-null   float64
 11  Unnamed: 11                                                          3253 non-null   float64
 12  Unnamed: 12                                                          3245 non-null   float64
 13  Unnamed: 13                                                          3313 non-null   float64
 14  Unnamed: 14                                                          3349 non-null   float64
 15  Unnamed: 15                                                          3303 non-null   float64
 16  Unnamed: 16                                                          3283 non-null   float64
 17  Unnamed: 17                                                          3272 non-null   float64
 18  Unnamed: 18                                                          3288 non-null   float64
 19  Unnamed: 19                                                          3274 non-null   float64
 20  Unnamed: 20                                                          3307 non-null   float64
 21  Unnamed: 21                                                          3308 non-null   float64
 22  Unnamed: 22                                                          3308 non-null   float64
 23  Unnamed: 23                                                          261 non-null    float64
dtypes: float64(21), object(3)
memory usage: 671.4+ KB

None

------------------------------ Describe ------------------------------

,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
count,3.021000e+03,3.072000e+03,3.107000e+03,3.182000e+03,3.202000e+03,3.209000e+03,3.187000e+03,3.226000e+03,3.253000e+03,3.245000e+03,3.313000e+03,3.349000e+03,3.303000e+03,3.283000e+03,3.272000e+03,3.288000e+03,3.274000e+03,3.307000e+03,3.308000e+03,3.308000e+03,2.610000e+02
mean,2.902974e+04,2.752395e+04,2.843011e+04,3.256947e+04,3.943733e+04,4.451192e+04,5.126932e+04,5.851477e+04,6.637870e+04,5.122396e+04,6.058404e+04,7.107347e+04,7.200046e+04,7.383176e+04,7.479535e+04,6.536848e+04,6.404206e+04,7.071302e+04,7.807287e+04,7.583848e+04,5.011247e+05
std,2.574918e+05,2.456516e+05,2.546064e+05,2.935627e+05,3.555187e+05,4.008227e+05,4.597467e+05,5.262328e+05,5.978074e+05,4.608235e+05,5.523083e+05,6.535578e+05,6.604516e+05,6.741555e+05,6.811720e+05,6.004346e+05,5.867944e+05,6.484204e+05,7.143228e+05,6.946708e+05,1.994239e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.700000e+01,5.600000e+01,5.650000e+01,6.400000e+01,6.900000e+01,7.600000e+01,9.450000e+01,1.062500e+02,1.190000e+02,1.090000e+02,1.190000e+02,1.310000e+02,1.420000e+02,1.540000e+02,1.677500e+02,1.527500e+02,1.630000e+02,1.785000e+02,1.907500e+02,1.917500e+02,2.458000e+03
50%,3.540000e+02,3.630000e+02,3.690000e+02,4.030000e+02,4.830000e+02,5.890000e+02,7.140000e+02,8.310000e+02,9.610000e+02,7.780000e+02,8.840000e+02,1.022000e+03,1.092000e+03,1.158000e+03,1.241500e+03,1.119000e+03,1.081000e+03,1.151000e+03,1.308000e+03,1.290500e+03,1.479600e+04
75%,2.708000e+03,2.639000e+03,2.694000e+03,3.020750e+03,3.587000e+03,4.350000e+03,5.134000e+03,6.084750e+03,7.341000e+03,5.601000e+03,6.461000e+03,7.529000e+03,8.006500e+03,8.368500e+03,8.515500e+03,7.243250e+03,6.934250e+03,7.720500e+03,8.520750e+03,8.158000e+03,1.529940e+05
max,6.647491e+06,6.406946e+06,6.656539e+06,7.771071e+06,9.473361e+06,1.078526e+07,1.236879e+07,1.426885e+07,1.649698e+07,1.271474e+07,1.543809e+07,1.843836e+07,1.865730e+07,1.896612e+07,1.906081e+07,1.673351e+07,1.621119e+07,1.798590e+07,1.983634e+07,1.928417e+07,1.781211e+07

#### Analytical Transformations

In [7]:
# Display all columns
print('-------- Default column names --------')
display(df.columns)

# Change columns name
map_cols_name = {
    'Indicator':'Reporting Economy',
    '  Merchandise imports by product group – annual (Million US dollar)': 'Product/Sector',
    'Unnamed: 2': 'Partner Economy',
    'Unnamed: 3': '2000',
    'Unnamed: 4': '2001',
    'Unnamed: 5': '2002',
    'Unnamed: 6': '2003',
    'Unnamed: 7': '2004',
    'Unnamed: 8': '2005',
    'Unnamed: 9': '2006',
    'Unnamed: 10': '2007',
    'Unnamed: 11': '2008',
    'Unnamed: 12': '2009',
    'Unnamed: 13': '2010',
    'Unnamed: 14': '2011',
    'Unnamed: 15': '2012',
    'Unnamed: 16': '2013',
    'Unnamed: 17': '2014',
    'Unnamed: 18': '2015',
    'Unnamed: 19': '2016',
    'Unnamed: 20': '2017',
    'Unnamed: 21': '2018',
    'Unnamed: 22': '2019',
    'Unnamed: 23': '2020',
}

# Change all default column names
print('-------- With new column names --------')
renamed_cols_df = df.rename(columns=map_cols_name)
display(renamed_cols_df.head(3))

-------- Default column names --------

Index(['Indicator',
       '  Merchandise imports by product group – annual (Million US dollar)',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

-------- With new column names --------

,Reporting Economy,Product/Sector,Partner Economy,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Reporting Economy,Product/Sector,Partner Economy,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,World,SI3_AGG - TO - Total merchandise,World,6647491.0,6406946.0,6656539.0,7771071.0,9473361.0,10785263.0,12368788.0,14268847.0,16496984.0,12714737.0,15438092.0,18438364.0,18657296.0,18966119.0,19060809.0,16733507.0,16211194.0,17985896.0,19836342.0,19284167.0,17812107.0

#### Treatment of Missing Values

In [ ]:
# Checking for missing values
# df.isnull().sum()

In [ ]:
# Dealing with missing values
# df = df.dropna(axis='columns')

In [ ]:
# If there are any missing values, how do you plan to treat those data columns?

In [ ]:
# Perform any transformation on the columns in the dataset to enable further analysis.

<br><br>

<h1 align="center"> Data Analysis </h1>

#### Descriptive Statistical Analysis

In [ ]:
# Using basic statistical measures such as measurements of central tendancy such as mean, median and mode.

#### Distribution of Variables

In [ ]:
# Identify the distribution of the data to understand the range of values and how the data is structured.

#### Outliers in the dataset

In [ ]:
# Identify if there are any outliers in the dataset based on statistical measures.

<br><br>

<h1 align="center"> Reflections </h1>

#### Summary of Data Analysis

In [ ]:
# What insights should the user takeaway from EDA.

#### Questions unanswered

In [ ]:
# What aspects of the research question were we unable to answer and why?

#### Recommendations

In [ ]:
# Identify if there are any outliers in the dataset based on statistical measures.

#### Next Steps

In [ ]:
# What will the analyst do next based on the analysis?