<h1 align="center"> Project Setup </h1>

#### Install Packages

In [2]:
!pip install yellowbrick

Requirement already satisfied: yellowbrick in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (1.3.post1)
Requirement already satisfied: scikit-learn>=0.20 in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from yellowbrick) (0.23.2)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.2 in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from yellowbrick) (3.3.2)
Requirement already satisfied: numpy<1.20,>=1.16.0 in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from yellowbrick) (1.19.2)
Requirement already satisfied: scipy>=1.0.0 in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from yellowbrick) (1.5.2)
Requirement already satisfied: cycler>=0.10.0 in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from yellowbrick) (0.10.0)
Requirement already satisfied: six in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10.0->yellowbrick) (1.15.0)
Requirement already satisfied: certifi>=2020.06.20 in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2020.6.20)
Requirement already satisfied: python-dateutil>=2.1 in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.3.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (8.0.1)
Requirement already satisfied: joblib>=0.11 in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20->yellowbrick) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20->yellowbrick) (2.1.0)

#### Importing Dependencies

In [3]:
import os
import sys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans

import warnings
warnings.filterwarnings('ignore')

#### Importing Datasets

In [4]:
# Display all columns in the DataFrame using pandas settings
pd.set_option('display.max_columns', None)

In [5]:
df_imports = pd.read_excel('data/simple_WTO_dataset_merchandise_imports_by_product_group_annual_million_US_dollar.xlsx')

<br><br>

<h1 align="center"> Summary</h1>

### Objective

This project focuses on how the country will be able to know the right market to export their products. This will allow the country to get a good guide on foreign trade, and know which countries have High demand in different sectors, especially agricultural products.

The specific objectives of this project are:
1. Analyzethedatasetthatwearegoingtocollecttobetterunderstandandgive
some insight on the international trade
2. ChoosethebestplacewiththeHighdemandforagriculturalproductssothat Haiti can promote and sell its products

<hr>

### Hypothesis: Research Question?

What is the question that you would like to answer in order to make a decision.

<hr>

### Data Source

For this project we will be using the World Trade Organization(WTO) data portal to have access to. The WTO Data portal contains statistical indicators, Available time series cover merchandise trade and trade in services statistics, market access indicators (bound, applied & preferential tariffs), non-tariff information as well as other indicators.

<br><br>

<h1 align="center"> Data Cleaning </h1>

#### Introduce the Data

In [7]:
# Displaying the countries import product dataframe
print('------ Imports Dataset ------')
display(df_imports.head(4))

------ Imports Dataset ------

,Indicator,Merchandise imports by product group – annual (Million US dollar),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Reporting Economy,Product/Sector,Partner Economy,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
2,Afghanistan,SI3_AGG - AG - Agricultural products,World,706.0,897.0,1248.0,1200.0,1064.0,1485.0,1539.0,1740.0,2656.0,2484.0
3,Afghanistan,SI3_AGG - MI - Fuels and mining products,World,1090.0,2240.0,3118.0,2999.0,2657.0,1658.0,1045.0,1181.0,1102.0,340.0

In [9]:
print('------------------------------ Dataset Shape ------------------------------')
print('The Imports dataset has',df_imports.shape[0], 'Rows and', df_imports.shape[1],'columns')

print('------------------------------ Dataframe Columns ------------------------------')
display(df_imports.columns)

print('------------------------------ Data types ------------------------------')
display(df_imports.dtypes)

------------------------------ Dataset Shape ------------------------------
The Imports dataset has 1293 Rows and 13 columns
------------------------------ Dataframe Columns ------------------------------

Index(['Indicator',
       '  Merchandise imports by product group – annual (Million US dollar)',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12'],
      dtype='object')

------------------------------ Data types ------------------------------

Indicator                                                               object
  Merchandise imports by product group – annual (Million US dollar)     object
Unnamed: 2                                                              object
Unnamed: 3                                                             float64
Unnamed: 4                                                             float64
Unnamed: 5                                                             float64
Unnamed: 6                                                             float64
Unnamed: 7                                                             float64
Unnamed: 8                                                             float64
Unnamed: 9                                                             float64
Unnamed: 10                                                            float64
Unnamed: 11                                                            float64
Unnamed: 12                                                            float64
dtype: object

In [10]:
# Display all columns
print('-------- Imports column names --------')
display(df_imports.columns)

# Change columns name
map_cols_name = {
    'Indicator':'Reporting Economy',
    '  Merchandise imports by product group – annual (Million US dollar)': 'Product/Sector',
    'Unnamed: 2': 'Partner Economy',
    'Unnamed: 3': '2010',
    'Unnamed: 4': '2011',
    'Unnamed: 5': '2012',
    'Unnamed: 6': '2013',
    'Unnamed: 7': '2014',
    'Unnamed: 8': '2015',
    'Unnamed: 9': '2016',
    'Unnamed: 10': '2017',
    'Unnamed: 11': '2018',
    'Unnamed: 12': '2019',
}

# Change all default column names
renamed_cols_df = df_imports.rename(columns=map_cols_name)

print('-------- Imports Dataframe with new cols names --------')
display(renamed_cols_df.head(5))

-------- Imports column names --------

Index(['Indicator',
       '  Merchandise imports by product group – annual (Million US dollar)',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12'],
      dtype='object')

-------- Imports Dataframe with new cols names --------

,Reporting Economy,Product/Sector,Partner Economy,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Reporting Economy,Product/Sector,Partner Economy,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
2,Afghanistan,SI3_AGG - AG - Agricultural products,World,706.0,897.0,1248.0,1200.0,1064.0,1485.0,1539.0,1740.0,2656.0,2484.0
3,Afghanistan,SI3_AGG - MI - Fuels and mining products,World,1090.0,2240.0,3118.0,2999.0,2657.0,1658.0,1045.0,1181.0,1102.0,340.0
4,Afghanistan,SI3_AGG - MAIS - Iron and steel,World,42.0,69.0,96.0,93.0,82.0,25.0,25.0,29.0,218.0,51.0

In [12]:
'''
Remove the first 2 rows in the imports dataframe 
And also drop rows that contains the world import record and Haiti record
'''
drop_first_rows = renamed_cols_df.index[:2]
drop_countries_n_world = renamed_cols_df.loc[(renamed_cols_df['Reporting Economy'] == "Haiti") | (renamed_cols_df['Reporting Economy'] == "World")]

dropped_first_rows_df = renamed_cols_df.drop(drop_first_rows)
dropped_rows_df = dropped_first_rows_df.drop(drop_countries_n_world.index, axis=0).reset_index(drop=True)

display(dropped_rows_df)

,Reporting Economy,Product/Sector,Partner Economy,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,SI3_AGG - AG - Agricultural products,World,706.0,897.0,1248.0,1200.0,1064.0,1485.0,1539.0,1740.0,2656.0,2484.0
1,Afghanistan,SI3_AGG - MI - Fuels and mining products,World,1090.0,2240.0,3118.0,2999.0,2657.0,1658.0,1045.0,1181.0,1102.0,340.0
2,Afghanistan,SI3_AGG - MAIS - Iron and steel,World,42.0,69.0,96.0,93.0,82.0,25.0,25.0,29.0,218.0,51.0
3,Afghanistan,SI3_AGG - MACH - Chemicals,World,82.0,98.0,136.0,131.0,116.0,96.0,98.0,110.0,281.0,621.0
4,Afghanistan,SI3_AGG - MAMT - Machinery and transport equip...,World,339.0,245.0,342.0,329.0,291.0,214.0,360.0,407.0,869.0,1502.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,Zimbabwe,SI3_AGG - MAIS - Iron and steel,World,105.0,160.0,149.0,138.0,147.0,141.0,137.0,119.0,173.0,144.0
1283,Zimbabwe,SI3_AGG - MACH - Chemicals,World,605.0,2650.0,1049.0,1850.0,1083.0,961.0,796.0,835.0,1234.0,895.0
1284,Zimbabwe,SI3_AGG - MAMT - Machinery and transport equip...,World,1859.0,1831.0,1911.0,1554.0,1328.0,1415.0,1147.0,1096.0,1553.0,1160.0
1285,Zimbabwe,SI3_AGG - MATE - Textiles,World,67.0,88.0,91.0,87.0,83.0,73.0,53.0,62.0,80.0,66.0
1286,Zimbabwe,SI3_AGG - MACL - Clothing,World,17.0,24.0,24.0,46.0,29.0,25.0,19.0,15.0,24.0,13.0

In [13]:
print('------------ Display values in the Product/Sectors on the Import dataset columns ------------')
display(dropped_rows_df['Product/Sector'].value_counts())

# Remove all non use coverage CODE before the last hyphen in all value in the "Product/sector" column
dropped_rows_df['Product/Sector'] = dropped_rows_df['Product/Sector'].apply(lambda x: x.split('- ')[-1])

# Also drop the ['Partner Economy']columns
df_final = dropped_rows_df.drop(['Partner Economy'],axis=1)

print('---- Final import dataframe ----')
display(df_final.head())

------------ Display values in the Product/Sectors on the Import dataset columns ------------

SI3_AGG - AG - Agricultural products                  184
SI3_AGG - MAIS - Iron and steel                       184
SI3_AGG - MAMT - Machinery and transport equipment    184
SI3_AGG - MACL - Clothing                             184
SI3_AGG - MI - Fuels and mining products              184
SI3_AGG - MACH - Chemicals                            184
SI3_AGG - MATE - Textiles                             183
Name: Product/Sector, dtype: int64

---- Final import dataframe ----

,Reporting Economy,Product/Sector,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,Agricultural products,706.0,897.0,1248.0,1200.0,1064.0,1485.0,1539.0,1740.0,2656.0,2484.0
1,Afghanistan,Fuels and mining products,1090.0,2240.0,3118.0,2999.0,2657.0,1658.0,1045.0,1181.0,1102.0,340.0
2,Afghanistan,Iron and steel,42.0,69.0,96.0,93.0,82.0,25.0,25.0,29.0,218.0,51.0
3,Afghanistan,Chemicals,82.0,98.0,136.0,131.0,116.0,96.0,98.0,110.0,281.0,621.0
4,Afghanistan,Machinery and transport equipment,339.0,245.0,342.0,329.0,291.0,214.0,360.0,407.0,869.0,1502.0

#### More data cleaning

In [17]:
df_melt = df_final.copy()

In [19]:
# Melt the Dataframe
df_melt = pd.melt(frame=df_final, 
                  id_vars=['Product/Sector','Reporting Economy'], 
                  var_name='Year', 
                  value_name="Million US dollar")

# Reshape the dataframe using pivot_table
reshape = df_melt.pivot_table(columns='Product/Sector',
                             index=['Year','Reporting Economy'],
                             values="Million US dollar")

# Reset the index to have a beautifull dataframe
reshape = reshape.reset_index()

# Remove Index name
reshape = reshape.rename_axis(None, axis=1)

# Display the reshape DF 
reshape.head()

,Year,Reporting Economy,Agricultural products,Chemicals,Clothing,Fuels and mining products,Iron and steel,Machinery and transport equipment,Textiles
0,2010,Afghanistan,706.0,82.0,12.0,1090.0,42.0,339.0,118.0
1,2010,Albania,872.0,464.0,173.0,802.0,209.0,875.0,168.0
2,2010,Algeria,7350.0,4452.0,183.0,1493.0,5235.0,16716.0,351.0
3,2010,Angola,2882.0,963.0,127.0,3233.0,1046.0,6475.0,108.0
4,2010,Antigua and Barbuda,113.0,33.0,8.0,6.0,6.0,99.0,12.0

#### Treatment of Missing Values

In [20]:
# Checking for missing values in the import dataset
reshape.isnull().sum()

Year                                 0
Reporting Economy                    0
Agricultural products                2
Chemicals                            0
Clothing                             2
Fuels and mining products            0
Iron and steel                       2
Machinery and transport equipment    0
Textiles                             4
dtype: int64

In [21]:
reshape.shape

(1750, 9)

In [25]:
# check if we don't have Duplicated values in the dataframe
print(reshape.duplicated().sum(), 'value')

0 value

In [26]:
# Dealing with missing single value with the fillna function
df_reshape_fill_na = reshape.fillna(0)

In [27]:
print('---- World import dataset ----')
display(df_reshape_fill_na.isna().sum())


print('---------------')
display('Now all of our empty values have been successfully filled with 0')

---- World import dataset ----

Year                                 0
Reporting Economy                    0
Agricultural products                0
Chemicals                            0
Clothing                             0
Fuels and mining products            0
Iron and steel                       0
Machinery and transport equipment    0
Textiles                             0
dtype: int64

---------------

'Now all of our empty values have been successfully filled with 0'

In [30]:
# Change data type Float --> Int
print('-------- old data type --------')
display(df_reshape_fill_na.dtypes)


# Change Float type to Int (From the "Agricultural products" to "Total merchandise" columns)
df_reshape_fill_na.iloc[:,2:] = df_reshape_fill_na.iloc[:,2:].astype(int)

# Dataframe final
df = df_reshape_fill_na

print('-------- New import data type --------')
display(df.dtypes)

-------- old data type --------

Year                                  object
Reporting Economy                     object
Agricultural products                float64
Chemicals                            float64
Clothing                             float64
Fuels and mining products            float64
Iron and steel                       float64
Machinery and transport equipment    float64
Textiles                             float64
dtype: object

-------- New import data type --------

Year                                 object
Reporting Economy                    object
Agricultural products                 int64
Chemicals                             int64
Clothing                              int64
Fuels and mining products             int64
Iron and steel                        int64
Machinery and transport equipment     int64
Textiles                              int64
dtype: object

In [31]:
print('-------- Display the final dataframe --------')
display(df)

print('-------- Export the final dataframe --------')
file_name = 'final_dataframe_export.xlsx'
df.to_excel(f'output/data/{file_name}', index=False)
print('DataFrame is written to Excel File successfully...')

-------- Display the final dataframe --------

,Year,Reporting Economy,Agricultural products,Chemicals,Clothing,Fuels and mining products,Iron and steel,Machinery and transport equipment,Textiles
0,2010,Afghanistan,706,82,12,1090,42,339,118
1,2010,Albania,872,464,173,802,209,875,168
2,2010,Algeria,7350,4452,183,1493,5235,16716,351
3,2010,Angola,2882,963,127,3233,1046,6475,108
4,2010,Antigua and Barbuda,113,33,8,6,6,99,12
...,...,...,...,...,...,...,...,...,...
1745,2019,"Venezuela, Bolivarian Republic of",1334,696,117,1022,63,1122,93
1746,2019,Viet Nam,26023,29675,932,25353,10516,108747,17284
1747,2019,Yemen,1871,331,60,1363,214,467,71
1748,2019,Zambia,570,1436,71,1624,259,2185,51
1749,2019,Zimbabwe,404,895,13,1502,144,1160,66

-------- Export the final dataframe --------
DataFrame is written to Excel File successfully...

# <h1 align="center"> Data Analysis </h1>

#### Descriptive Statistical Analysis

In [ ]:
# basic statistical measures such as measurements of central tendancy such as mean, median and mode.
print('------ Average ------')
display(df.mean())

print('------ Median ------')
display(df.median())

print('------ Skewness ------')
display(df.skew())

print('------ Max ------')
display(df.max())

print('------ Standard Deviation ------')
display(df.std())

In [ ]:
# Describe the dataset
df.describe()

#### Distribution of Variables

In [ ]:
# Pairplot
sns.pairplot(df)
plt.show()

####  Correlation of all variables

In [ ]:
# Correlation of variables
corr = df.corr()
corr

In [ ]:
# Heatmap for visualization
plt.figure(figsize=(14,10))
heatmap = sns.heatmap(corr, cmap="RdYlGn", cbar=False, annot=True, linecolor='white', linewidths=2, vmin=-1, vmax=1) 
plt.title('Heatmap for the Data', fontsize = 16)
plt.show()

#### Outliers in the dataset

>##### 1. Outlier detection using visualization (Boxplot)

In [ ]:
# Define a function called "plt_boxplot"
def plt_boxplot(df, col):
    plt.figure(figsize=(20,4))
    sns.boxplot(df[col])
    plt.show()

In [ ]:
df.columns

In [ ]:
# Identify if there are any outliers in the dataset based on statistical measures.
cols = df.iloc[:,2:].columns

for col in cols:
    plt_boxplot(df, col)

**Conclusion**: as we can see in our boxplots we identified so many outliers in our data...

>##### 2. Deal with our outliers

In [ ]:
#

#### Analytical Transformations

In [ ]:
# Review our columns
df.columns

In [ ]:
# We will drop ['Year','Reporting Economy']
X = df.drop(['Year','Reporting Economy'], axis=1)
y = df['Reporting Economy']

'''
Checking the shape of:
'''
# --> the data
print('X:', X.shape)
    
# --> the target variable
print('y:', y.shape)

>##### Scaling the data

In [ ]:
# Importing the StandardScaler & MinMaxScaler Module from Sklearn
from sklearn.preprocessing import StandardScaler as ss, MinMaxScaler

In [ ]:
# Creating object for the MinMaxScaler function
scala = MinMaxScaler()

In [ ]:
scala.fit_transform(X)

scaled_array = scala.transform(X)
scaled_array

In [ ]:
# Convert the scaled array to dataframe
X = pd.DataFrame(scaled_array, columns=list(X.columns))

In [ ]:
# Display the Scale Dataframe
display(X.head())
display(X.shape)

>#####  PCA: Principal Component Analysis

In [ ]:
# PCA with data scaled with MinMaxScaler()
from sklearn.decomposition import PCA
pca = PCA(n_components= 2)

In [ ]:
pca_array = pca.fit_transform(X)

In [ ]:
pca_array

In [ ]:
# Convert to dataframe
df_pca = pd.DataFrame(data=pca_array, columns=['PCA1','PCA2'])

In [ ]:
# Overview the data
df_pca

In [ ]:
# Visualize with scatterplot
plt.figure(figsize=(11,6))
sns.scatterplot(data=df_pca, x='PCA1', y='PCA2')
plt.show()

#### Creating clusters using K-Means algorithms

>##### 1. Find the optimal K for the cluster using Elbow method

In [ ]:
# Yellowbrick
from yellowbrick.cluster import KElbowVisualizer

In [ ]:
# Yellowbrick
model = KMeans()
plt.figure(figsize=(16,8))
visualizer = KElbowVisualizer(model, k=(1,12))
visualizer.fit(X)
visualizer.show()

**Conclusion**: as we can see in the graph above, the KElbowVisualizer is at k=3 this means the optimal k for the dataset is 3

>##### 2. Evaluation with the silhouette method

In [ ]:
# Import Silhouette module
from sklearn.metrics import silhouette_score,silhouette_samples

In [ ]:
silh = {}

for k in range(2,15):
    km = KMeans(n_clusters=k)
    preds = km.fit_predict(X)
    centers = km.cluster_centers_
    
    silh = silhouette_score(X, preds)
    
    
    print("For number of cluster = {}, The silhouette score is {}".format(k, silh))

**Conclusion**: as we can see the best cluster to use here is also 3

>##### 3. Creating our K-Means modele

In [ ]:
# init model
k_model = KMeans(n_clusters=3)

k_model.fit(X)

In [ ]:
# Labels and Inertia

y_kmeans = k_model.labels_

print('Labels:',k_model.labels_)
print('Inertia:',k_model.inertia_)

In [ ]:
# Centroid/Cluster Centers
centroids = k_model.cluster_centers_
print('Labels:', centroids)

In [ ]:
# Add the labels to the dataframe
X['Labels_Clusters'] = y_kmeans
X['Labels_Clusters'].value_counts()

>##### 3. Visualizing the clusters

In [ ]:
X

<br><br>

<h1 align="center"> Reflections </h1>

#### Summary of Data Analysis

>##### Total Products imported by countries from 2010 to 2019

In [ ]:
# Reviews the cleaned df
df.head(3)

In [ ]:
# Calculate the total imported per countries & Per Year products
df['Total'] = df.iloc[:,2:].sum(axis=1)

In [ ]:
# The Dataframe with the new ['Total'] column
df.tail(2)

In [ ]:
# GroupBy Years
gb_y = df.groupby(by='Year')
gb_y.sum()

In [ ]:
gb_total = df.groupby(by=['Year', 'Reporting Economy']).sum()
gb_total

In [ ]:
# Display a graph to show more details
gb_total = df.groupby(by='Reporting Economy').sum()

In [ ]:
# Figure 1
plt.figure(figsize=(16,7))

sns.lineplot(x ='Year', y='Agricultural products', data=df)
plt.show()

In [ ]:
# Figure 2

#### Questions unanswered

In [ ]:
# What aspects of the research question were we unable to answer and why?

In [ ]:
# Ki pi bon ko

#### Recommendations

In [ ]:
# Identify if there are any outliers in the dataset based on statistical measures.

#### Next Steps

In [ ]:
# What will the analyst do next based on the analysis?