<h1 align="center"> Project Setup </h1>

#### Importing Dependencies

In [1]:
import os
import sys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans

#### Importing Datasets

In [2]:
# Display all columns in the DataFrame using pandas settings
pd.set_option('display.max_columns', None)

In [3]:
df_imports = pd.read_excel('data/WtoData_worldwide_import_from_2010_to_2022.xlsx')
df_exports = pd.read_excel('data/WtoData_worldwide_export_from_2010_to_2022.xlsx')

<br><br>

<h1 align="center"> Summary</h1>

### Objective

This project focuses on how the country will be able to know the right market to export their products. This will allow the country to get a good guide on foreign trade, and know which countries have High demand in different sectors, especially agricultural products.

The specific objectives of this project are:
1. Analyzethedatasetthatwearegoingtocollecttobetterunderstandandgive
some insight on the international trade
2. ChoosethebestplacewiththeHighdemandforagriculturalproductssothat Haiti can promote and sell its products

<hr>

### Hypothesis: Research Question?

What is the question that you would like to answer in order to make a decision.

<hr>

### Data Source

For this project we will be using the World Trade Organization(WTO) data portal to have access to. The WTO Data portal contains statistical indicators, Available time series cover merchandise trade and trade in services statistics, market access indicators (bound, applied & preferential tariffs), non-tariff information as well as other indicators.

<br><br>

<h1 align="center"> Data Cleaning </h1>

#### Data Overview

In [4]:
# Displaying the countries import product dataframe
print('------ Imports Dataset ------')
display(df_imports.head(4))

------ Imports Dataset ------

,Indicator,Merchandise imports by product group – annual (Million US dollar),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Reporting Economy,Product/Sector,Partner Economy,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,World,SI3_AGG - TO - Total merchandise,World,15438092.0,18438364.0,18657296.0,18966119.0,19060809.0,16733507.0,16211194.0,17985896.0,19836342.0,19284167.0,17812107.0
3,World,SI3_AGG - AG - Agricultural products,World,1391529.0,1701893.0,1681611.0,1756648.0,1798003.0,1594510.0,1599989.0,1759978.0,1851346.0,1823105.0,NaN

In [5]:
# Displaying the countries export product dataframe
df_exports.head(4)

,Indicator,Merchandise exports by product group – annual (Million US dollar),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Reporting Economy,Product/Sector,Partner Economy,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,World,SI3_AGG - TO - Total merchandise,World,15303993.0,18343601.0,18514486.0,18969946.0,19011072.0,16558147.0,16045249.0,17742931.0,19550439.0,19014680.0,17582919.0
3,World,SI3_AGG - AG - Agricultural products,World,1354429.0,1649389.0,1655099.0,1731531.0,1752575.0,1563008.0,1582977.0,1724722.0,1804371.0,1783648.0,NaN

In [6]:
# Filter the dataframe to have only Haiti's export products list
print('------ Haiti export Dataset ------')
df_haiti_exports = df_exports[df_exports['Indicator'] == 'Haiti']

display(df_haiti_exports)

------ Haiti export Dataset ------

,Indicator,Merchandise exports by product group – annual (Million US dollar),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1325,Haiti,SI3_AGG - TO - Total merchandise,World,579.0,767.0,815.0,885.0,950.0,882.0,986.0,980.0,1078.0,1200.0,721.0
1326,Haiti,SI3_AGG - AG - Agricultural products,World,33.0,42.0,44.0,38.0,42.0,27.0,81.0,71.0,75.0,54.0,NaN
1327,Haiti,SI3_AGG - AGFO - Food,World,32.0,41.0,42.0,37.0,37.0,26.0,80.0,70.0,74.0,54.0,NaN
1328,Haiti,SI3_AGG - MI - Fuels and mining products,World,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,12.0,21.0,NaN
1329,Haiti,SI3_AGG - MA - Manufactures,World,546.0,725.0,772.0,847.0,908.0,855.0,904.0,890.0,990.0,1067.0,NaN
1330,Haiti,SI3_AGG - MACL - Clothing,World,522.0,693.0,738.0,811.0,764.0,870.0,840.0,800.0,897.0,974.0,NaN

In [7]:
print('------------------------------ Dataset Shape ------------------------------')
print('The Imports dataset has',df_imports.shape[0], 'Rows and', df_imports.shape[1],'columns')

print('------------------------------ Dataframe Columns ------------------------------')
display(df_imports.columns)

print('------------------------------ Data types ------------------------------')
display(df_imports.dtypes)

print('------------------------------ dataframe info ------------------------------')
display(df_imports.info())

print('------------------------------ Statistical data ------------------------------')
display(df_imports.describe())

------------------------------ Dataset Shape ------------------------------
The Imports dataset has 3461 Rows and 14 columns
------------------------------ Dataframe Columns ------------------------------

Index(['Indicator',
       '  Merchandise imports by product group – annual (Million US dollar)',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

------------------------------ Data types ------------------------------

Indicator                                                               object
  Merchandise imports by product group – annual (Million US dollar)     object
Unnamed: 2                                                              object
Unnamed: 3                                                             float64
Unnamed: 4                                                             float64
Unnamed: 5                                                             float64
Unnamed: 6                                                             float64
Unnamed: 7                                                             float64
Unnamed: 8                                                             float64
Unnamed: 9                                                             float64
Unnamed: 10                                                            float64
Unnamed: 11                                                            float64
Unnamed: 12                                                            float64
Unnamed: 13                                                            float64
dtype: object

------------------------------ dataframe info ------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3461 entries, 0 to 3460
Data columns (total 14 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Indicator                                                            3460 non-null   object
 1     Merchandise imports by product group – annual (Million US dollar)  3460 non-null   object
 2   Unnamed: 2                                                           3460 non-null   object
 3   Unnamed: 3                                                           3313 non-null   float64
 4   Unnamed: 4                                                           3349 non-null   float64
 5   Unnamed: 5                                                           3303 non-null   float64
 6   Unnamed: 6                                                           3283 non-null   float64
 7   Unnamed: 7                                                           3272 non-null   float64
 8   Unnamed: 8                                                           3288 non-null   float64
 9   Unnamed: 9                                                           3274 non-null   float64
 10  Unnamed: 10                                                          3307 non-null   float64
 11  Unnamed: 11                                                          3308 non-null   float64
 12  Unnamed: 12                                                          3308 non-null   float64
 13  Unnamed: 13                                                          261 non-null    float64
dtypes: float64(11), object(3)
memory usage: 378.7+ KB

None

------------------------------ Statistical data ------------------------------

,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,3.313000e+03,3.349000e+03,3.303000e+03,3.283000e+03,3.272000e+03,3.288000e+03,3.274000e+03,3.307000e+03,3.308000e+03,3.308000e+03,2.610000e+02
mean,6.058404e+04,7.107347e+04,7.200046e+04,7.383176e+04,7.479535e+04,6.536848e+04,6.404206e+04,7.071302e+04,7.807287e+04,7.583848e+04,5.011247e+05
std,5.523083e+05,6.535578e+05,6.604516e+05,6.741555e+05,6.811720e+05,6.004346e+05,5.867944e+05,6.484204e+05,7.143228e+05,6.946708e+05,1.994239e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.190000e+02,1.310000e+02,1.420000e+02,1.540000e+02,1.677500e+02,1.527500e+02,1.630000e+02,1.785000e+02,1.907500e+02,1.917500e+02,2.458000e+03
50%,8.840000e+02,1.022000e+03,1.092000e+03,1.158000e+03,1.241500e+03,1.119000e+03,1.081000e+03,1.151000e+03,1.308000e+03,1.290500e+03,1.479600e+04
75%,6.461000e+03,7.529000e+03,8.006500e+03,8.368500e+03,8.515500e+03,7.243250e+03,6.934250e+03,7.720500e+03,8.520750e+03,8.158000e+03,1.529940e+05
max,1.543809e+07,1.843836e+07,1.865730e+07,1.896612e+07,1.906081e+07,1.673351e+07,1.621119e+07,1.798590e+07,1.983634e+07,1.928417e+07,1.781211e+07

In [8]:
# Display all columns
print('-------- Imports column names --------')
display(df_imports.columns)
print('-------- Haiti Exports column names --------')
display(df_haiti_exports.columns)

# Change columns name
map_cols_name = {
    'Indicator':'Reporting Economy',
    '  Merchandise imports by product group – annual (Million US dollar)': 'Product/Sector',
    'Unnamed: 2': 'Partner Economy',
    'Unnamed: 3': '2010',
    'Unnamed: 4': '2011',
    'Unnamed: 5': '2012',
    'Unnamed: 6': '2013',
    'Unnamed: 7': '2014',
    'Unnamed: 8': '2015',
    'Unnamed: 9': '2016',
    'Unnamed: 10': '2017',
    'Unnamed: 11': '2018',
    'Unnamed: 12': '2019',
    'Unnamed: 13': '2020',
}

# Change all default column names
renamed_cols_df = df_imports.rename(columns=map_cols_name)
renamed_ht_cols_df = df_haiti_exports.rename(columns=map_cols_name).reset_index(drop=True)


# Rename 'Merchandise exports by product group – annual (Million US dollar)	' to 'Product/Sector'
renamed_ht_cols_df = renamed_ht_cols_df.rename(columns={'  Merchandise exports by product group – annual (Million US dollar)':'Product/Sector'})

print('-------- Imports Dataframe with new cols names --------')
display(renamed_cols_df.head(5))
print('-------- Haiti exports product Dataframe with new cols names --------')
display(renamed_ht_cols_df)

-------- Imports column names --------

Index(['Indicator',
       '  Merchandise imports by product group – annual (Million US dollar)',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

-------- Haiti Exports column names --------

Index(['Indicator',
       '  Merchandise exports by product group – annual (Million US dollar)',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

-------- Imports Dataframe with new cols names --------

,Reporting Economy,Product/Sector,Partner Economy,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Reporting Economy,Product/Sector,Partner Economy,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,World,SI3_AGG - TO - Total merchandise,World,15438092.0,18438364.0,18657296.0,18966119.0,19060809.0,16733507.0,16211194.0,17985896.0,19836342.0,19284167.0,17812107.0
3,World,SI3_AGG - AG - Agricultural products,World,1391529.0,1701893.0,1681611.0,1756648.0,1798003.0,1594510.0,1599989.0,1759978.0,1851346.0,1823105.0,NaN
4,World,SI3_AGG - AGFO - Food,World,1144082.0,1387912.0,1391766.0,1465158.0,1510854.0,1340065.0,1354624.0,1482990.0,1551785.0,1547817.0,NaN

-------- Haiti exports product Dataframe with new cols names --------

,Reporting Economy,Product/Sector,Partner Economy,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Haiti,SI3_AGG - TO - Total merchandise,World,579.0,767.0,815.0,885.0,950.0,882.0,986.0,980.0,1078.0,1200.0,721.0
1,Haiti,SI3_AGG - AG - Agricultural products,World,33.0,42.0,44.0,38.0,42.0,27.0,81.0,71.0,75.0,54.0,NaN
2,Haiti,SI3_AGG - AGFO - Food,World,32.0,41.0,42.0,37.0,37.0,26.0,80.0,70.0,74.0,54.0,NaN
3,Haiti,SI3_AGG - MI - Fuels and mining products,World,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,12.0,21.0,NaN
4,Haiti,SI3_AGG - MA - Manufactures,World,546.0,725.0,772.0,847.0,908.0,855.0,904.0,890.0,990.0,1067.0,NaN
5,Haiti,SI3_AGG - MACL - Clothing,World,522.0,693.0,738.0,811.0,764.0,870.0,840.0,800.0,897.0,974.0,NaN

In [9]:
# Remove the first 2 rows in the imports dataframe
to_drop_rows = renamed_cols_df.index[:2]

dropped_rows_df = renamed_cols_df.drop(to_drop_rows).reset_index(drop=True)

display(dropped_rows_df.head())

,Reporting Economy,Product/Sector,Partner Economy,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,World,SI3_AGG - TO - Total merchandise,World,15438092.0,18438364.0,18657296.0,18966119.0,19060809.0,16733507.0,16211194.0,17985896.0,19836342.0,19284167.0,17812107.0
1,World,SI3_AGG - AG - Agricultural products,World,1391529.0,1701893.0,1681611.0,1756648.0,1798003.0,1594510.0,1599989.0,1759978.0,1851346.0,1823105.0,NaN
2,World,SI3_AGG - AGFO - Food,World,1144082.0,1387912.0,1391766.0,1465158.0,1510854.0,1340065.0,1354624.0,1482990.0,1551785.0,1547817.0,NaN
3,World,SI3_AGG - MI - Fuels and mining products,World,3183852.0,4278365.0,4227403.0,4208130.0,3874299.0,2489603.0,2124334.0,2755203.0,3408176.0,3168025.0,NaN
4,World,SI3_AGG - MIFU - Fuels,World,2462969.0,3361172.0,3401742.0,3403308.0,3091267.0,1859835.0,1528358.0,2006039.0,2570707.0,2350244.0,NaN

#### Treatment of Missing Values

In [10]:
# Checking for missing values in the import dataset
dropped_rows_df.isnull().sum()

Reporting Economy       0
Product/Sector          0
Partner Economy         0
2010                  147
2011                  111
2012                  157
2013                  177
2014                  188
2015                  172
2016                  186
2017                  153
2018                  152
2019                  152
2020                 3199
dtype: int64

In [11]:
# Checking for missing values in the Haitian export dataset
renamed_ht_cols_df.isnull().sum()

Reporting Economy    0
Product/Sector       0
Partner Economy      0
2010                 0
2011                 0
2012                 0
2013                 0
2014                 0
2015                 0
2016                 0
2017                 0
2018                 0
2019                 0
2020                 5
dtype: int64

In [12]:
# check if we don't have Duplicated values in the dataframe
print(dropped_rows_df.duplicated().sum(), 'value')

0 value

In [13]:
print(renamed_ht_cols_df.duplicated().sum(), 'value')

0 value

In [14]:
# Dealing with missing values with the fillna function
dropped_rows_df = dropped_rows_df.fillna(0)

In [15]:
renamed_ht_cols_df = renamed_ht_cols_df.fillna(0)

In [16]:
print('---- World import data ----')
display(dropped_rows_df.isna().sum())
print('---- Haitian export data ----')
display(renamed_ht_cols_df.isna().sum())


print('---------------')
display('Now all of our empty values have been successfully filled with 0')

---- World import data ----

Reporting Economy    0
Product/Sector       0
Partner Economy      0
2010                 0
2011                 0
2012                 0
2013                 0
2014                 0
2015                 0
2016                 0
2017                 0
2018                 0
2019                 0
2020                 0
dtype: int64

---- Haitian export data ----

Reporting Economy    0
Product/Sector       0
Partner Economy      0
2010                 0
2011                 0
2012                 0
2013                 0
2014                 0
2015                 0
2016                 0
2017                 0
2018                 0
2019                 0
2020                 0
dtype: int64

---------------

'Now all of our empty values have been successfully filled with 0'

#### Final Dataframe

In [17]:
# Change date type on both dataset
print('-------- import old data type --------')
display(dropped_rows_df.dtypes)
print('-------- export old data type --------')
display(renamed_ht_cols_df.dtypes)


# Change Float to Integer on both datasets
cols = ['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']

dropped_rows_df[cols] = dropped_rows_df[cols].apply(np.int32)
renamed_ht_cols_df[cols] = renamed_ht_cols_df[cols].apply(np.int32)


print('-------- New import data type --------')
display(dropped_rows_df.dtypes)
print('-------- New Haitian export data type --------')
display(renamed_ht_cols_df.dtypes)

-------- import old data type --------

Reporting Economy     object
Product/Sector        object
Partner Economy       object
2010                 float64
2011                 float64
2012                 float64
2013                 float64
2014                 float64
2015                 float64
2016                 float64
2017                 float64
2018                 float64
2019                 float64
2020                 float64
dtype: object

-------- export old data type --------

Reporting Economy     object
Product/Sector        object
Partner Economy       object
2010                 float64
2011                 float64
2012                 float64
2013                 float64
2014                 float64
2015                 float64
2016                 float64
2017                 float64
2018                 float64
2019                 float64
2020                 float64
dtype: object

-------- New import data type --------

Reporting Economy    object
Product/Sector       object
Partner Economy      object
2010                  int32
2011                  int32
2012                  int32
2013                  int32
2014                  int32
2015                  int32
2016                  int32
2017                  int32
2018                  int32
2019                  int32
2020                  int32
dtype: object

-------- New Haitian export data type --------

Reporting Economy    object
Product/Sector       object
Partner Economy      object
2010                  int32
2011                  int32
2012                  int32
2013                  int32
2014                  int32
2015                  int32
2016                  int32
2017                  int32
2018                  int32
2019                  int32
2020                  int32
dtype: object

In [18]:
print('------------ Display values in the Product/Sectors on the Import dataset columns ------------')
display(dropped_rows_df['Product/Sector'].value_counts())
print('------------ Display values in the Product/Sectors on the Haitian export dataset columns ------------')
display(renamed_ht_cols_df['Product/Sector'].value_counts())

# Remove all non use coverage CODE before the last hyphen in all value in the "Product/sector" column
dropped_rows_df['Product/Sector'] = dropped_rows_df['Product/Sector'].apply(lambda x: x.split('-')[-1])
renamed_ht_cols_df['Product/Sector'] = renamed_ht_cols_df['Product/Sector'].apply(lambda x: x.split('-')[-1])

# Also drop the ['Partner Economy']columns
df = dropped_rows_df.drop(['Partner Economy'],axis=1)
df_ht = renamed_ht_cols_df.drop(['Partner Economy'],axis=1)

print('---- Final import dataframe ----')
display(df.head())
print('---- Final Haitian export dataframe ----')
display(df_ht)

------------ Display values in the Product/Sectors on the Import dataset columns ------------

SI3_AGG - TO - Total merchandise                                        262
SI3_AGG - MIFU - Fuels                                                  189
SI3_AGG - MA - Manufactures                                             189
SI3_AGG - MACH - Chemicals                                              189
SI3_AGG - MI - Fuels and mining products                                189
SI3_AGG - MAMT - Machinery and transport equipment                      189
SI3_AGG - AGFO - Food                                                   189
SI3_AGG - AG - Agricultural products                                    189
SI3_AGG - MAMTOTTL - Telecommunications equipment                       188
SI3_AGG - MAMTOF - Office and telecom equipment                         188
SI3_AGG - MACL - Clothing                                               188
SI3_AGG - MAMTAU - Automotive products                                  188
SI3_AGG - MAMTTE - Transport equipment                                  188
SI3_AGG - MAIS - Iron and steel                                         188
SI3_AGG - MATE - Textiles                                               187
SI3_AGG - MACHPH - Pharmaceuticals                                      187
SI3_AGG - MAMTOTIC - Integrated circuits and electronic components      186
SI3_AGG - MAMTOTEP - Electronic data processing and office equipment    186
Name: Product/Sector, dtype: int64

------------ Display values in the Product/Sectors on the Haitian export dataset columns ------------

SI3_AGG - AG - Agricultural products        1
SI3_AGG - TO - Total merchandise            1
SI3_AGG - AGFO - Food                       1
SI3_AGG - MACL - Clothing                   1
SI3_AGG - MA - Manufactures                 1
SI3_AGG - MI - Fuels and mining products    1
Name: Product/Sector, dtype: int64

---- Final import dataframe ----

,Reporting Economy,Product/Sector,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,World,Total merchandise,15438092,18438364,18657296,18966119,19060809,16733507,16211194,17985896,19836342,19284167,17812107
1,World,Agricultural products,1391529,1701893,1681611,1756648,1798003,1594510,1599989,1759978,1851346,1823105,0
2,World,Food,1144082,1387912,1391766,1465158,1510854,1340065,1354624,1482990,1551785,1547817,0
3,World,Fuels and mining products,3183852,4278365,4227403,4208130,3874299,2489603,2124334,2755203,3408176,3168025,0
4,World,Fuels,2462969,3361172,3401742,3403308,3091267,1859835,1528358,2006039,2570707,2350244,0

---- Final Haitian export dataframe ----

,Reporting Economy,Product/Sector,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Haiti,Total merchandise,579,767,815,885,950,882,986,980,1078,1200,721
1,Haiti,Agricultural products,33,42,44,38,42,27,81,71,75,54,0
2,Haiti,Food,32,41,42,37,37,26,80,70,74,54,0
3,Haiti,Fuels and mining products,0,0,0,0,0,0,0,17,12,21,0
4,Haiti,Manufactures,546,725,772,847,908,855,904,890,990,1067,0
5,Haiti,Clothing,522,693,738,811,764,870,840,800,897,974,0

<br><br>

<h1 align="center"> Analytical Transformations </h1>

In [360]:
# Melt the Dataframe
df_melt = pd.melt(frame=df, 
                  id_vars=['Product/Sector','Reporting Economy'], 
                  var_name='Year', 
                  value_name="Million US dollar")
df_melt

,Product/Sector,Reporting Economy,Year,Million US dollar
0,Total merchandise,World,2010,15438092
1,Agricultural products,World,2010,1391529
2,Food,World,2010,1144082
3,Fuels and mining products,World,2010,3183852
4,Fuels,World,2010,2462969
...,...,...,...,...
38044,Integrated circuits and electronic components,Zimbabwe,2020,0
38045,Transport equipment,Zimbabwe,2020,0
38046,Automotive products,Zimbabwe,2020,0
38047,Textiles,Zimbabwe,2020,0
38048,Clothing,Zimbabwe,2020,0

In [352]:
# Perform any transformation on the columns in the dataset to enable further analysis.
df_to_t = df_melt.set_index('Year')

In [353]:
df_to_t

,Product/Sector,Reporting Economy,Million US dollar
Year,,,
2010,Total merchandise,World,15438092
2010,Agricultural products,World,1391529
2010,Food,World,1144082
2010,Fuels and mining products,World,3183852
2010,Fuels,World,2462969
...,...,...,...
2020,Integrated circuits and electronic components,Zimbabwe,0
2020,Transport equipment,Zimbabwe,0
2020,Automotive products,Zimbabwe,0
2020,Textiles,Zimbabwe,0
2020,Clothing,Zimbabwe,0

In [338]:
dfr = df_to_t.copy()

# <h1 align="center"> Data Analysis </h1>

#### Descriptive Statistical Analysis

In [23]:
# Using basic statistical measures such as measurements of central tendancy such as mean, median and mode.

In [24]:
# Find the average for each numeric columns
df.mean()

2010    58026.279271
2011    68812.676496
2012    68752.675340
2013    70074.491182
2014    70751.191385
2015    62136.328419
2016    60616.271755
2017    67605.066204
2018    74664.073143
2019    72527.224053
2020    37811.949118
dtype: float64

In [25]:
# Describe
df.describe()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,3.459000e+03,3.459000e+03,3.459000e+03,3.459000e+03,3.459000e+03,3.459000e+03,3.459000e+03,3.459000e+03,3.459000e+03,3.459000e+03,3.459000e+03
mean,5.802628e+04,6.881268e+04,6.875268e+04,7.007449e+04,7.075119e+04,6.213633e+04,6.061627e+04,6.760507e+04,7.466407e+04,7.252722e+04,3.781195e+04
std,5.406604e+05,6.431998e+05,6.455553e+05,6.569759e+05,6.627140e+05,5.855721e+05,5.710641e+05,6.341750e+05,6.987349e+05,6.795113e+05,5.626242e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.650000e+01,1.025000e+02,9.800000e+01,1.030000e+02,1.085000e+02,1.010000e+02,1.035000e+02,1.255000e+02,1.370000e+02,1.390000e+02,0.000000e+00
50%,7.570000e+02,9.180000e+02,9.290000e+02,9.560000e+02,1.002000e+03,9.090000e+02,8.750000e+02,9.950000e+02,1.116000e+03,1.094000e+03,0.000000e+00
75%,5.691000e+03,7.026500e+03,7.191000e+03,7.405500e+03,7.595000e+03,6.521000e+03,6.079000e+03,6.958500e+03,7.709500e+03,7.369000e+03,0.000000e+00
max,1.543809e+07,1.843836e+07,1.865730e+07,1.896612e+07,1.906081e+07,1.673351e+07,1.621119e+07,1.798590e+07,1.983634e+07,1.928417e+07,1.781211e+07

In [37]:
df.corr()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
2010,1.000000,0.999611,0.999007,0.999053,0.999379,0.998109,0.997454,0.998286,0.998879,0.998580,0.896049
2011,0.999611,1.000000,0.999586,0.999520,0.999386,0.996856,0.995685,0.996946,0.997972,0.997504,0.899921
2012,0.999007,0.999586,1.000000,0.999943,0.999670,0.997230,0.995717,0.997019,0.998033,0.997602,0.902302
2013,0.999053,0.999520,0.999943,1.000000,0.999817,0.997622,0.996208,0.997459,0.998394,0.998004,0.900716
2014,0.999379,0.999386,0.999670,0.999817,1.000000,0.998687,0.997625,0.998574,0.999217,0.998955,0.898466
2015,0.998109,0.996856,0.997230,0.997622,0.998687,1.000000,0.999749,0.999832,0.999606,0.999722,0.891399
2016,0.997454,0.995685,0.995717,0.996208,0.997625,0.999749,1.000000,0.999787,0.999267,0.999497,0.887554
2017,0.998286,0.996946,0.997019,0.997459,0.998574,0.999832,0.999787,1.000000,0.999818,0.999908,0.889129
2018,0.998879,0.997972,0.998033,0.998394,0.999217,0.999606,0.999267,0.999818,1.000000,0.999953,0.891980
2019,0.998580,0.997504,0.997602,0.998004,0.998955,0.999722,0.999497,0.999908,0.999953,1.000000,0.890839
2020,0.896049,0.899921,0.902302,0.900716,0.898466,0.891399,0.887554,0.889129,0.891980,0.890839,1.000000

In [29]:
# Make a pairwise scatterplot

#### Distribution of Variables

In [ ]:
# Identify the distribution of the data to understand the range of values and how the data is structured.

#### Outliers in the dataset

In [ ]:
# Identify if there are any outliers in the dataset based on statistical measures.

<br><br>

<h1 align="center"> Reflections </h1>

#### Summary of Data Analysis

In [ ]:
# What insights should the user takeaway from EDA.

#### Questions unanswered

In [ ]:
# What aspects of the research question were we unable to answer and why?

#### Recommendations

In [ ]:
# Identify if there are any outliers in the dataset based on statistical measures.

#### Next Steps

In [ ]:
# What will the analyst do next based on the analysis?